.jokesbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #feccb1; /* Old browsers */
  background: -moz-linear-gradient(top,  #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */
  margin:auto;

    border-radius: 4px;
    max-width: 152px;;
}

.jokesbar div {
  font-weight: bold;
  text-align: center;
  width:50px;
  cursor: pointer;
  padding: 10px;
  margin: auto;
  font-size: 24px;
  float: left;
  border:3px double transparent;
}


.bttn.active {
  font-weight: bold;
  text-align: center;
  width:50px;
  float: left;
  cursor: pointer;
  padding: 10px;
  margin: auto;
  background: #FFF;
    border:3px solid rgba(0,0,0,0.1);
}
.loader{
  margin:auto;
  text-align: center;
  font-weight: bold;
  padding: 10px;

}

.timerBar{
  width:0px;
  position: absolute;
  height: 4px;
  border:4px double #000;
  background: #000;
  top:0;
  left: 0;
  height:100%;
}
.emojijoker{
  font-size: 30px;
}
.favIcon{

    font-size: 30px;
    position: absolute;
    bottom: 10px;
    right:10px;
    padding: 4px;
    cursor: pointer;
}
.joke{
  position: relative;;
  padding:40px;
  margin-top:10px;
  border:3px double rgba(0,0,0,0.1);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
.timer{
  position: relative;
    width:128px!important;
  text-align: center;
  margin: auto;
  left:none;
  border: #f17432 solid 2px!important;
}
.timer.active{
  background:#ccc;
    border: #FFF dashed 2px!important;

}
.timer span{
  margin: auto;
}
